/*
@bemagic {
    intro: A short summary of the component
    description: Description of `background`
}
*/
.ep-background {
    background-color: #f8f8f8;
}

.ep-background--secondary {
    background-color: red;
}

.ep-background--inverse {
    background-color: black;
}
